.s_blog_post_bean_layout_3 {
    .card-img-top {
        height: unset;
    }
    .tp-cover-image {
        height: 300px;
        background-size: cover;
        background-position: center;
    }
    .tp-blog-avatar {
        height: 30px;
        width: 30px;
    }
}
