.s_blog_post_bean_layout_1 {
    .tp-cover-image {
        height: 270px;
        background-size: cover;
        background-position: center;
    }
    .tp-blog-avatar {
        height: 25px;
        width: 25px;
    }
}
