.s_mega_menu_bean_3 .s_badge {
    margin: 0;
    margin-left: 0.4rem;
    padding: 0.4em 0.6em;
    font-size: 0.66rem;
    border-radius: 3px;
    padding-top: 5px;
    i {
        margin-right: 0.3rem;
    }
}
