@mixin tp-icon-center($size) {
    padding: 0;
    height: $size;
    width: $size;
    line-height: $size;
    text-align: center;
}

@mixin tp-font-icons {
    .fa, .dri {
        @content;
    }
}

@mixin tp-scroll($width: 8px) {
    @include media-breakpoint-up(md) {
        &::-webkit-scrollbar {
            width: $width;
        }
        &::-webkit-scrollbar-track {
            background-color: o-color('300');
        }
        &::-webkit-scrollbar-thumb {
            background-color: o-color('800');
        }
    }
}

@mixin dr-navbar-light-default {
    background-color: gray('white') !important;
    .navbar-brand {
        color: $navbar-light-brand-color;
        @include hover-focus {
            color: $navbar-light-brand-hover-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-light-color;
            @include hover-focus {
                color: $navbar-light-hover-color;
            }
            &.disabled {
                color: $navbar-light-disabled-color;
            }
        }
        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
            color: $navbar-light-active-color;
        }
    }

    .navbar-toggler {
        color: $navbar-light-color;
        border-color: $navbar-light-toggler-border-color;
    }

    .navbar-toggler-icon {
        background-image: $navbar-light-toggler-icon-bg;
    }

    .navbar-text {
        color: $navbar-light-color;
        a {
            color: $navbar-light-active-color;
            @include hover-focus {
                color: $navbar-light-active-color;
            }
        }
    }
}

@mixin tp-header-navbar-color-system() {
    $bg-color: o-color('menu-custom') or o-color('menu') or rgba(0, 0, 0, 0);
    $color: color-yiq($bg-color);
    @if $color == $yiq-text-dark {
        color: $color;
    } @else {
        color: rgba($color, 0.8);
    }
    &:hover, &.active {
        @if $color == $yiq-text-dark {
            color: o-color('primary');
        } @else {
            color: $color;
        }
    }
}

@mixin tp-mobile-header() {
    @include media-breakpoint-down(md) {
        // Toggle button
        .tp-navbar-toggler {
            border: none;
            background: transparent !important;
            &:focus {
                outline: none;
            }
            .icon-bar {
                width: 25px;
                height: 2px;
                background-color: o-color('primary');
                display: block;
                transition: all 0.2s;
                margin: 5px 2px;
            }
            .top-bar {
                transform: rotate(45deg);
                transform-origin: 10% 10%;
            }
            .middle-bar {
                opacity: 0;
            }
            .bottom-bar {
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
            }
            &.collapsed {
                .icon-bar {
                    background-color: o-color('dark');
                }
                .top-bar, .bottom-bar  {
                    transform: rotate(0);
                }
                .middle-bar {
                    opacity: 1;
                }
            }
        }
        // In small device always white navbar
        #wrapwrap > header > .navbar {
            @include dr-navbar-light-default();
        }
        // Change Odoo style
        #wrapwrap > header .collapsing #top_menu, #wrapwrap > header .show #top_menu {
            padding-top: 0px;
            padding-bottom: 0px;
            text-align: left;
        }
        // Change navbar style also highlight menu
        #top_menu_container {
            max-width: 100%;
            #top_menu_collapse {
                margin-top: 0.5rem;
                margin-left: -1rem;
                margin-bottom: -0.5rem;
                margin-right: -1rem;
                border-top: 1px solid o-color('400');
                #top_menu > .nav-item {
                    > .nav-link {
                        font-weight: $headings-font-weight;
                        position: relative;
                        padding: 1rem 2rem;
                        border-bottom: 1px solid o-color('400');
                    }
                    &.tp-primary-bg > .nav-link > .dri {
                        @include o-position-absolute($top: 18px, $left: 10px);
                    }
                }
            }
        }
        // Account info
        .tp-account-info {
            a:not(.dropdown-item) {
                color: o-color('dark') !important;
                transition: 0.2s;
                @include hover {
                    color: o-color('primary') !important;
                }
            }
            @include tp-font-icons {
                font-size: 1.4rem;
            }
            .my_wish_quantity, .my_cart_quantity {
                padding: 0.4em 0.6em;
                border-radius: 40px;
                vertical-align: top;
            }
        }
    }
}

@mixin d-owl-btn-style() {
    &:focus {
        outline: none;
    }
    @include media-breakpoint-down(md) {
        .dri {
            height: 30px;
            width: 30px;
            line-height: 30px !important;
        }
    }
    transition: all 0.3s;
    &:hover {
        box-shadow: $box-shadow-sm;
        color: o-color('primary') !important;
    }
    background-color: white !important;
    height: 40px;
    width: 40px;
    border: 1px solid #e1e7ec !important;
    border-radius: 100%;
    color: #374250 !important;
    .dri {
        line-height: 39px;
        font-weight: bold;
    }
}

@mixin dr-owl-arrows-position-style ($left) {
    .owl-prev {
        @include media-breakpoint-down(md) {
            left: -15px;
        }
        @include o-position-absolute($bottom: 50%, $left: $left);
    }
    .owl-next {
        @include media-breakpoint-down(md) {
            right: -15px;
        }
        @include o-position-absolute($bottom: 50%, $right: $left);
    }
}

@mixin dr-product-attribute-center($max-width: auto) {
    max-width: $max-width;
    text-align: center;
    .modal-body {
        padding: 0;
    }

    // Center elements
    .dr-list-variant-radio-circle {
        justify-content: center !important;
    }
    .css_quantity {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .dr-list-variant-radio-square {
        justify-content: center !important;
    }
    .variant_attribute .align-items-center {
        justify-content: center;
    }
    .variant_attribute  li.dr-list-radio-attribute{
        display: inline-block;
        margin-right: 15px !important;
    }

    .js_add_cart_variants {
        padding-right: 10px;
        padding-left: 10px;
    }
    .dr-variant {
        justify-content: center !important;
    }

    // Carousel
    section#product_detail {
        text-align: center;
        .d_shop_product_details_carousel {
            .carousel-indicators {
                display: none !important;
                > li {
                    height: 30px;
                    width: 30px;
                    .o_image_64_contain {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
            .carousel-outer {
                height: 250px;
            }
        }
    }

    .js_check_product{
        flex-grow: 2.5;
    }
    .product_price {
        margin-top: 10px !important;
        .oe_price_h4 {
            font-size: 1.09375rem;
            .oe_price {
                color: o-color('primary');
                font-weight: 600;
            }
        }
    }
    .o_website_rating_static {
        margin-bottom: -5px;
    }
}


// Image Hotspot MIXINS

@mixin tp-image-hotspot-shadow-mixin($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin tp-kf-hotspot($tp-hotspot-color, $kf-name, $tp-is-scale:null) {
    @keyframes #{$kf-name} {
        0% {
            @include tp-image-hotspot-shadow-mixin(0 0 0 0 rgba($tp-hotspot-color, 0.6));
        }
        70% {
            @include tp-image-hotspot-shadow-mixin(0 0 0 15px rgba($tp-hotspot-color, 0));
            @if $tp-is-scale {
                transform: scale(0.8,0.8);
            }
        }
        100% {
            @include tp-image-hotspot-shadow-mixin(0 0 0 0 rgba($tp-hotspot-color, 0));
            @if $tp-is-scale {
                transform: scale(1,1);
            }
        }
    }
}

@mixin tp-BeanBakery-pack-font-family() {
    font-family: 'BeanBakery-Pack' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@mixin tp-hotspot-theme-pack($tp-hotspot-color-pack) {
    @each $color-name, $color-value in $tp-hotspot-color-pack {
        // &. REF from web_editor.frontend.scss (&.o_#{$module}_#{str-replace($shape, '/', '_')} )
        &.tp-hotspot-#{$color-name} {
            background: $color-value;
            box-shadow: 0 0 0 rgba($color-value, 0.8);
            animation: pulse-#{$color-name} 1.5s infinite;
        }
    }
}

// Overrided Odoo's mixin
@mixin o-we-active-wrapper($icon: '\f00c', $top: auto, $right: auto, $bottom: auto, $left: auto) {
    box-shadow: 0 0 0 3px $o-brand-primary;

    &:not(.fa):not(.dri) {
        border: 3px solid $o-brand-primary;
        box-shadow: none;
        &:before {
            content: $icon;
            @include o-position-absolute($top, $right, $bottom, $left);
            width: 19px;
            height: 19px;
            background-color: $o-brand-primary;
            font-family: 'FontAwesome';
            color: white;
            border-radius: 50%;
            text-align: center;
            z-index: 1;
            box-shadow: $box-shadow;
        }
    }
}

$tp-soft-colors: 'primary', 'danger', 'success';
@mixin tp-soft-colors-mixin {
    @each $color in $tp-soft-colors {
        .tp-bg-soft-#{$color} {
            background-color: rgba(o-color($color), .1) !important;
            color: o-color($color) !important;
        }
    }
}
