.s_blog_post_bean_layout_2 {
    .tp-blog-container {
        border-radius: .375rem;
        .card-img-top {
            height: unset;
        }
        .tp-cover-image {
            height: 300px;
            background-size: cover;
            background-position: center;
        }
        .tp-svg-img {
            @include o-position-absolute($top:-120px, $right: 0px, $left: 0px);
        }
        .tp-blog-avatar {
            height: 25px;
            width: 25px;
        }
    }
}
