.BeanBakery_product_slider_single_product {
    .owl-prev, .owl-next {
        @include d-owl-btn-style();
        @include media-breakpoint-up(xl) {
            height: 55px;
            width: 55px;
            .dri {
                line-height: 55px;
                font-size: 18px;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .style-4 {
            justify-content: center !important;
        }
    }
    .dr_product_img {
        max-height: 500px;
        object-fit: contain;
    }
    .owl-prev {
        @include o-position-absolute($top: 50%, $left: 15px);
    }
    .owl-next {
        @include o-position-absolute($top: 50%, $right: 15px);
    }
}

// Single Category Snippet

.s_d_single_category_snippet_wrapper {
    .banner-text {
        @include o-position-absolute($bottom: 20px, $left: 25px, $right: 25px);
        background-color: rgba(255, 255, 255, 0.8);
    }
    .d_category_image_block {
        background-size:cover;
        background-position:center;
        min-height: 500px;
        // HACK to make background-resize option work
        height: 100%;
    }
    .tp_category_product_card_style_1 {
        .d_add_to_cart_btn {
            @include o-position-absolute($top: 0.75rem, $right: .75rem);
            z-index: 5;
            height: 40px;
            width: 40px;
        }
        .d-product-img {
            object-fit: contain;
            max-height: 350px;
        }
    }
    .owl-nav {
        @include o-position-absolute($top: -43px, $right: 30px);
        button.owl-prev, button.owl-next {
            background: lighten(o-color('primary'), 40%) !important;
            padding: 2px !important;
            border-radius: 13px;
        }
        min-width: 40px;
        button.owl-prev {
            margin-right: 8px;
        }
    }
}

// Full product snippet
.s_d_single_product_snippet_wrapper {
    .d_single_product_continer {
        @include media-breakpoint-up(md) {
            width: 90%;
            max-width: 1200px;
            margin: 0px auto;
        }
        @include media-breakpoint-down(md) {
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    .d_single_product_body {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
}

// Full Products + Cover
.s_d_single_product_cover_snippet_wrapper {
    .s_d_single_product_cover_snippet {
        @include dr-product-attribute-center();
    }
}
.dr_strike_line {
    position: relative;
    display: inline-block;
    padding-left: 85px;
    padding-right: 85px;
    &:before {
        content: "";
        @include o-position-absolute($top: 50%, $right: 0px);
        display: inline-block;
        width: 5rem;
        border-top-width: 2px;
        border-top-style: solid;
        border-color: o-color('primary');
    }
    &:after {
        content: "";
        @include o-position-absolute($top: 50%, $left: 0px);
        display: inline-block;
        width: 5rem;
        border-top-width: 2px;
        border-top-style: solid;
        border-color: o-color('primary');
    }
}

// === category cards ===
.s_tp_category_style_1 {
    outline:1px solid gray('300');
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
}

.s_tp_category_style_4 {
    .dr-category-card {
        height: 200px;
        border-radius: 3px;
        background-size: cover;
        background-position: center;
        position: relative;
        .dr-category-text {
            @include o-position-absolute($bottom: 0);
        }
        h3 {
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.68);
        }
    }
}

// mega Menu

.s_tp_hierarchical_category_style_3 {

    div.tp-cate-3-img::before {
        content: ' ';
        height: 100%;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(0deg, rgba(16, 17, 18, 0.55) 0%, transparent 40%, transparent 70%, transparent 100%);
        border-radius: 5px;
        overflow: hidden;
    }
    .tp-category-cover-image {
        max-height: 150px;
        object-fit: cover;
        border-radius: 3px;
    }
    .tp-category-name {
        font-size: 1.1rem;
        @include o-position-absolute($bottom: 4%);
        text-shadow: 0px 0px 1px #000;
    }

    ul > li {
        background: transparent ;
    }
}

.tp-show-variant-image .tp-variant-image {
    max-height: 680px;
}

// Brands
.s_d_brand_snippet_wrapper {
    .tp_brand_card_style_1 img {
        height: 100px;
        object-fit: contain;
    }
}

.tp_product_list_header_1 {
    &:after {
        display: block;
        @include o-position-absolute($bottom: -1px, $left: 0px);
        width: 90px;
        height: 2px;
        background-color: o-color('primary');
        content: '';
    }
}

.tp_product_list_cards_3 {
    .d_add_to_cart_btn {
        @include o-position-absolute($top: 7px, $right: 10px);
        color: gray('600');
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 100%;
        border: 1px solid gray('300');
        line-height: 2.2rem;
        background-color: #f3f5f9;
        &:hover {
            color: o-color('primary');
        }
    }
}